@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

@import "tailwindcss";

/* ---------- Base theme ----------- */
:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Geist", Arial, Helvetica, sans-serif;
}

/* ----------- Background gradients ------------- */
.mybg {
  background: linear-gradient(
    168deg,
    rgb(2, 1, 20) 0%,
    rgb(0, 0, 0) 35%,
    rgb(103, 0, 79) 100%
  );
}

.projectsbg {
  background: linear-gradient(
    168deg,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 35%,
    rgb(43, 0, 33) 100%
  );
}

/* ------------ Font utility classes ------------ */
.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display",serif;
  font-style: italic;
}

.geist-light {
  font-family: "Geist", sans-serif;
  font-weight: 300;
}

.geist-regular {
  font-family: "Geist", sans-serif;
  font-weight: 400;
}

.geist-medium {
  font-family: "Geist", sans-serif;
  font-weight: 500;
}

.geist-semibold {
  font-family: "Geist", sans-serif;
  font-weight: 600;
}

.geist-bold {
  font-family: "Geist", sans-serif;
  font-weight: 700;
}

.inner-regular {
  font-family: "Inner", sans-serif;
  font-weight: 400;
}

.inner-medium {
  font-family: "Inner", sans-serif;
  font-weight: 500;
}